.image_container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image_container-title{
  margin-top: 2vh;
  
}
.image {
  margin-top: 6vh;
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

.cardimage {
  height: 195px;
  width: 120px;
  margin: 0.5rem;
  background-color: var(--bg-main);
  border-radius: var(--border-radius);
  box-shadow: var(--border-radius)
}

.cardimage img {
  height: 90%;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.cardname {
  font-size: var(--font-size-xs);
  font-weight: 600;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

