.card_container-wrapper {
  position: relative;
  height: 35vh;
  width: 100vw;
  overflow: hidden;

}
.card_container {
  height: 35vh;
  width: 100vw;
  
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.card_container-content {
  width: 13.8vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 0.2vw;
  margin-left: 0.2vw;
}
.card_container-name{
  position: absolute;
  top: 25vh;
  font-size: var(--font-size-l);
}
.card_container-img {
  position: absolute;

  width: 13.8vw;
  height: 34vh;
}
.card_container-img img {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
}
.card_container-info {
  position: relative;
  width: 13.5vw;
  height: 33vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-right: 0.289vw;
  margin-left: 0.289vw;
 
  
}
.card_containermodal{
  position: absolute;
  z-index: 999;
}

.card_container-hours, .card_container-location{
  width: 100%;
  text-align: center;
  background-color: var(--transparency);
  font-size: var(--font-size-m);
  cursor: pointer;
}

.card_containermodal{
  width: 15vh;
  border-bottom: solid 7px #fff;
  transition: all .5s ease-out;
  cursor: pointer;
}
  
.card_containermodal:hover{
  transform: scale(1.2);
  
}