@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Oxygen:wght@300&display=swap");


:root {
 

  --border-radius: 5px;
  --box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  --bg-main: #a028cc;
  --bg-linear:linear-gradient(
    90deg,
    rgba(160, 40, 204, 1) 13%,
    rgba(255, 255, 255, 1) 100%
  );
  --font-size-xs: 0.7rem;
  --font-size-sm: 1rem;
  --font-size-m: 1.5rem;
  --font-size-l: 2rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  color: #fff;
}

