@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Oxygen:wght@300&family=Roboto&display=swap");

:root {
 
  --border-radius: 5px;
  --box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  --transparency:rgba(119, 41, 236, 0.8);
  --bg-main: #663388;
  --bg-modal:#7a7b7f;
  --bg-linear: linear-gradient(rgba(107, 42, 140, 1), rgba(83, 32, 107));
  --font-size-xs: 0.7rem;
  --font-size-sm: 1rem;
  --font-size-m: 1.5rem;
  --font-size-l: 2rem;
 
}
html {
  scroll-padding-top: 14vh;
  scroll-behavior: smooth;
  text-transform: capitalize;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #050707;

}
