.form_container{
    background-color:var(--bg-main);
    width: calc(100px + 7vw );
    height: calc(100px + 10vw);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: var(--font-size-sm);
}

.form_container-icon{
    height: 30%;
    width: 94%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-bottom: 1.5px solid #fff;
    padding: 5px;
}
 
.form_container-icon-openmodal{
    cursor: pointer;
    transition: all .5s ease-out;
}

.form_container-icon-openmodal:hover{
transform: scale(1.2);
}
.form_container-form{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
}

.form_container-form button{
    text-decoration: none;
    border:none;
    background:#fff;
    width: 40%;
    height: 13%;
    border-radius: var(--border-radius);
    
    font-weight: 600;
    color: var(--bg-main);
}

.form_container-form button:hover{
    color: var(--bg-main);
    transform: scale(1.2);
    cursor: pointer;
    font-weight: 700;
}

.form_container-field{
    border: none;
    max-width: 80%;
    text-align: center;
    border-radius: var(--border-radius)
}

.form_container-field-error{
    font-size: .7rem;
    
}

.form_container-form input{
    width: 90%;
    
}

input[type="file"]::file-selector-button {
  width: 50%;
  height: 100%;
  font-size: .55rem;
  background-color: var(--bg-modal);
  border: none;
  border-radius: var(--border-radius);
  }